<div class="row justify-content-center bg-darkgrey p-2">
  <div class="col-lg-10">
  <div class="input-container">
    <input
      type="text"
      id="searchname"
      class="searchstyle w-75 "
      #searchTerm
      placeholder=" search By Manga Name"
    />
    <a class="noline icon" (click)="searchMangaByName(searchTerm.value)"
      ><i class="fa fa-search" aria-hidden="true"></i></a>
  </div>
</div>
</div>

<div class="row justify-content-center" *ngIf="mangalist">
  <div class="col-md-4 mt-2" *ngFor="let m of mangalist">
    <div class="card">
      <div class="card-img-top">
        <img [src]="m.imageURL" width="100%" alt="" />
      </div>
      <div class="card-body">
        <h3>{{ m.Title }}</h3>
        <h5>
          Type:
          {{ m.Type }}
        </h5>

        <p>
          price:
          {{ m.Price }}
        </p>
        <p>
          {{ m.Desc }}
        </p>
      </div>
      <div class="card-footer text-left">
        <a routerLink="/mangalist/{{ m.id }}" class="btn btn-dark"
          >Show Details</a>
      </div>
    </div>
  </div>
</div>
