
 <!-- about -->
 <div class="row justify-content-center border bg-darkgrey p-2 about">
  <!-- left container -->
  <div class="col-lg-7 border">
    <div class="row justify-content-start text-white mt-3 ml-4">
      <h3 class="border-bottom ">About</h3>
    </div>
    <div class="row justify-content-center text-white mb-3">
      <div class="col-md-3">
        <img src="assets/images/logo - Copy.png" alt="img about"
         class="w-100 h-100" />
      </div>

      <div class="col-md-8">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h1 class="font-outward-block text-uppercase">Inkfox web</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-white p-2">
      <div class="col-md-12">
        <p class="text-orange">
          An immersive online platform dedicated to manga enthusiasts. Comprehensive Collection: Explore a vast and diverse array of manga lists. User-Friendly Design: Navigate through the platform effortlessly with an visually appealing user interface.
        </p>
      </div>
    </div>
  </div>
  <!-- right container -->
  <div class="col-lg-5 border">
    <div class="row text-white mt-5 p-2">
      <div class="col-md-2 text-orange text-uppercase">
        <p>How To Order?</p>
      </div>
      <div class="col-md-10">
        <h1 class="display-4 text-uppercase">
          Steps To Join INKFOX
        </h1>
      </div>
    </div>
    <div class="row text-white">
      <div class="col-md-12">
        <ul>
          <li>First Join Us Using <a >Registeration Form</a></li>
          <li><a routerLink="/login">Login Form</a></li>
          <li>View All <a routerLink="/allmangalist">Manga Lists</a></li>
          <li>Or Even View <a routerLink="/home">Top Manga</a></li>
          <li>Choose Your prefer Manga</li>
          <li>Choose Your prefer Then Order It :)</li>
          <li>
            Don't Forget If you want Special Manga Order
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
