

  <div class="row justify-content-center bg-coloring">
    <div class="col-12 bg-trans">
      <div class="row">

  <div class="row  justify-content-center p-5">
    <div class="col-lg-5">
      <div class="card p-3">
        <p>Manga Count: {{mangaLength}}</p>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card p-3">
        <p>Types Count: {{typeLength}}</p>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="card p-3">
        <p>users Types: {{usersLength}}</p>
      </div>
    </div>
  </div>
  <hr />
  <app-adminmanga></app-adminmanga>

  <app-admintypes></app-admintypes>


</div>
</div>
</div>
